<link rel="import" href="../bower_components/polymer/polymer.html">


<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">


<link rel="import" href="lista-usuarios.html">
<link rel="import" href="ficha-usuario.html">
<link rel="import" href="registro-app.html">

<!--  Componentes de la pantalla -->
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="my-icons.html">


<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">




<dom-module id="pag-admin">
  <template>
    <style>

     paper-dialog {

   width: 100%;
   max-width: 800px;

 }
      /*div{
        border-radius: 6px;
        padding: 10px;
        background-color: beige;
        width: 120px;
        text-align: center;
      }*/
      paper-fab {
           position: fixed;
           right: 24px;
           bottom: 24px;
           --paper-fab-background: #EF5458;
           --paper-fab-keyboard-focus-background: #DF4448;
         }

    </style>

    <app-header>
      <app-toolbar>

        <paper-icon-button hidden$="{{!ficha_cliente.acceso}}" icon="my-icons:arrow-back" on-tap="volver_listado" on-click="volver_listado"></paper-icon-button>

        <paper-tabs hidden$="{{ficha_cliente.acceso}}" selected="{{opcion_seleccionada}}">
          <paper-tab>Clientes</paper-tab>
          <paper-tab>Administradores</paper-tab>
            </paper-tabs>
      </app-toolbar>
    </app-header>

    <lista-usuarios  hidden$="{{ficha_cliente.acceso}}" visualizar_ficha="{{ficha_cliente.acceso}}" cliente_seleccionado="{{ficha_cliente.cliente}}" dato_usuario="{{datos_usuario}}" filtro_usuarios="[[opcion_seleccionada]]"> </lista-usuarios>
    <ficha-usuario  hidden$="{{!ficha_cliente.acceso}}" id_usuario="{{ficha_cliente.cliente}}" datos_usuario="{{datos_usuario}}"></ficha-usuario>

  <app-toolbar>

  </app-toolbar>

<paper-fab icon="my-icons:add" on-tap="abre_registro_usuario" on-click="abre_registro_usuario"></paper-fab>




    <iron-ajax

      id="elajax"
      url="[[url_admin]]"
      headers="{{cabecera_admin}}"
      handle-as="json"
      last-response="{{users}}"
      loading="{{cargando}}"
      on-response="respuestaRecibida"
      on-error="errorRecibido"

    ></iron-ajax>





      <paper-dialog id="cuadro_registro" modal>
         <paper-dialog-scrollable>
              <registro-app dato_usuario="{{datos_usuario}}" esAdmin="{{esAdmin_p}}"> </registro-app>
            <paper-button dialog-confirm autofocus>Cerrar</paper-button>
          </paper-dialog-scrollable>
      </paper-dialog>



  </template>

  <script>
    class Administradores extends Polymer.Element {
      static get is() { return 'pag-admin'; }
        static get properties() {
      return {
            datos_usuario:{
              type: Object,
              value: 'recuperardatosusuarios()',
              notify:true,
            },
            url_admin:{
                type:String,
                computed:'obtener_url(datos_usuario)',
                  notify:true,
              },
            cabecera_admin:{
              type:Object,
              computed:'obtener_cabecera(datos_usuario)',
                notify:true,
            },
            barra:{
                type: Object,
                notify:true
            },
            esAdmin_p:{
              type:Boolean,
              value:true,
              notify:true
            },
          informacion_usuario:{
              type:Object,

            },
            //Pasa el valor del filtro para listar usuarios [0=cliente, 1=administradores]
            opcion_seleccionada:{
              type:Number,
              value:0,
            },
            //Muestra u oculta los registros.
            // oculta_registro:{
            //   type:Boolean,
            //   value:true,
            // },
            ficha_cliente:{
              type:Object,
              value:{"acceso":false,"cliente":''},
              notify:true
            }
          }
      };

      abre_registro_usuario() {
        console.log("hoal");
        // this.oculta_registro = false;
        this.$.cuadro_registro.open();
        //console.log(this.$.cabecera);
        //this.$.elajax.generateRequest();
      };

      volver_listado(){
        console.log("listado")
         this.set('ficha_cliente.acceso',false);

      };

       actualiza_datos(){
          this.$.elajax.generateRequest();
       }




      mostrarUsuario(e, cliente){
     console.log('En el padre, detectada peticion cliente...', cliente);
    //  if (e==null){
    //    this.ficha_cliente = {"acceso":false,"cliente":''},
    //  }else{
    //   console.log(e.detail.pantalla); // true
       this.ficha_cliente = {"acceso":true, "cliente":cliente};
  //   }
   };

    obtener_cabecera(datos_usuario){
        if (datos_usuario==null){
          cabecera ="";
        }else{

         var aux="JWT " + datos_usuario.access_token;

         var cabecera = {"Authorization": aux};
        //  var cabecera_str = JSON.stringify(cabecera);
            console.log(cabecera);
      }
       return cabecera;
    };

    obtener_url(datos_usuario){
      var url='';
      if (datos_usuario==null){
        url="http://localhost:3000/administradores/";
        console.log(url);
      }else{
        var url = "http://localhost:3000/administradores/" + datos_usuario.nombre;
        console.log(url);
      }
        return url;
    };


    respuestaRecibida(e, request) {
         console.log("recibida respuesta");
         console.log(request);
            if(request.succeeded) {
              console.log('la solicitud se resolvió correctamente con código ' + request.status);
              this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
              this.informacion_usuario = request.response;

            } else {
              this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
            }
    };

          errorRecibido(e, error) {
            console.log("error"+error.request.status);
            console.log(error.request.response.message);
            this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
          };


          recuperardatosusuarios(){

             if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
              console.log('valor ' + localStorage.getItem("user-storage"));
             }else{
               var local =localStorage.getItem("user-storage");
               console.log('valor datos usuario' + local);
               var local_s =JSON.parse(local);

             }

             return local_s;
           //var local = JSON.parse(localStorage.getItem("datos_usuario"));
           //var em=local.email;

           //return em;

         };



    }
    window.customElements.define(Administradores.is, Administradores);





  </script>
</dom-module>
