<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="my-icons.html">





<dom-module id="ficha-usu">
    <template>
        <style>
        :host {
          display: block;

          padding: 10px;
        }


        </style>



            <iron-ajax

              id="elajax"
              url="[[url_reg]]"
              headers="{{cabecera_reg}}"
              method ="GET"
              last-response="{{users}}"
              loading="{{cargando}}"
              on-response="respuestaRecibida"
              on-error="errorRecibido"

            ></iron-ajax>


            <iron-ajax
              id="recdatosusuario"
              url="[[url_reg_datos_usuario]]"
              headers="{{cabecera_reg}}"
              method ="GET"
              loading="{{cargando}}"
              on-response="respuestaRecibidaUsuario"
              on-error="errorRecibidoUsuario"
            ></iron-ajax>


            <paper-icon-button icon="my-icons:arrow-back" on-tap="volver_posicion_global" on-click="volver_posicion_global"></paper-icon-button>

   <div class="container"> <!--inicio ficha usuario-->

     <div class="row">
               <!-- Columna de la izquierda -->

               <!-- Fin de Columna de la izquierda -->

               <!-- Parte central -->
                          <div class="col-md-9">
                            <div class="container center_div" >
                              <div class="card card-container">
                                    <!-- <div class="row centered-form col-12"> -->
                                    <!-- <div class="col-xs-12 col-sm-8 col-md-4"> -->
                                      <!--  col-sm-offset-2 col-md-offset-4 -->
                                     <div class="panel panel-default">
                                       <div class="panel-heading text-center">
                                         <h3 class="panel-title">Registro<small><small><br>Informacion del perfil</small></h3>
                                       </div>
                                       <div class="panel-body">
                                             <div class="row">
                                             <div class="col-12">
                                                    <paper-input  disabled value="{{datos_usuario_obtenido.nombre}}" label="Nombre"></paper-input>
                                             </div>
                                             </div>

                                           <div class="row">
                                           <div class="col-12">
                                                  <paper-input  disabled value="{{datos_usuario_obtenido.apellidos}}" label="Apellidos" ></paper-input>
                                           </div>
                                           </div>

                                           <div class="row">
                                             <div class="col-12">
                                                 <paper-input  disabled value="{{datos_usuario_obtenido.login}}" label="usuario"></paper-input>
                                             </div>
                                           </div>

                                           <!-- <div hidden$="{{!esAdmin}}" class="row"> -->
                                             <div class="col-12">
                                                    <paper-input  disabled value="{{datos_usuario_obtenido.tipo}}" label="tipo"  ></paper-input>
                                             </div>
                                           <!-- </div> -->



                                           <!-- <div class="row">

                                             <div class="col-12">
                                                   <paper-input value="{{myIp2}}" label="Password"></paper-input>
                                                </div>
                                                </div>


                                             <div class="row">

                                             <div class="col-12">

                                                   <paper-input value="{{myIp5}}" label="Repite el password"></paper-input>



                                           </div>
                                           </div> -->


                                           <div class="row">

                                           <div class="col-12">
                                             <paper-item>
                                             <paper-icon-item>
                                                   <iron-icon src="src/imagenes/{{datos_usuario_obtenido.imagen_usuario}}.png"></iron-icon>
                                                 </paper-icon-item>

                                             </paper-item>

                                         </div>

                                         </div>


                                         </div>

                                       </div>
                                     <!-- </div> -->
                                   </div>
                                 </div>


                              </div>
                              <!-- Fin del div central parte de formulario información básica -->
    </div>


    </div>

  </div>





    </template>



  <script>

  class FichaUsu extends Polymer.Element {
    static get is() { return 'ficha-usu'; }
    static get properties() {
      return {
        datos_usuario:{
          type: Object,
           computed: 'recuperardatosusuarios()',
          notify:true,
        },
        url_reg:{
            type:String,
            computed:'obtener_url(id_usuario)',
            notify:true,
          },
        cabecera_reg:{
          type:Object,
          computed:'obtener_cabecera_ficha(datos_usuario)',
          notify:true,
        },
        url_reg_datos_usuario:{
            type:String,
            computed:'obtener_url_datos_usuario(id_usuario)',
            notify:true,
          },
          visualizar:{
            type:String,
            notify:true,

          },



        informacion_usuario_new:{
          type:Object,
        },

        datos_usuario_obtenido:{
          type:Object,
        },
        informacion_usuario_new_cuentas:{
          type:Object,
        },
        id_usuario:{
          type:String,
        }


            };
          };


      static get observers() {
        console.log('observers');
        return [
          'cargadatosficha(id_usuario, cabecera_reg, url_reg)',
        ];
      }

       obtener_cabecera_ficha(datos_usu){
          console.log('cabecera');
            var cabecera ="";
          if (datos_usu==null){
           cabecera ="";
          }else{

           var aux="JWT " + datos_usu.access_token;
          console.log(aux);
           var cabecera = {"Authorization": aux};
          //  var cabecera_str = JSON.stringify(cabecera);
        }
          console.log("ficha_usuario" +cabecera);
         return cabecera;
      };

      volver_posicion_global(){
        this.visualizar = "posicion";

      }

         cargadatosficha(id_usuario,cabecera,url){
           console.log("usuario" + id_usuario)
            if (id_usuario==null || id_usuario==undefined  ){
              //no lanzamos la consulta
            }else {
              console.log(this.datos_usuario.access_token);
              var aux="JWT " + this.datos_usuario.access_token;
             console.log(aux);
              var cabecera = {"Authorization": aux};
              this.$.elajax.headers=cabecera;
              this.$.recdatosusuario.headers=cabecera;
          //    var cab = obtener_cabecera_ficha(this.datos_usuario);
          //
              this.$.elajax.generateRequest();
              this.$.recdatosusuario.generateRequest();

            }



         };



     obtener_url(id_usuario){
          var url='';
          if (id_usuario==null){

          }else{
            var url = "http://localhost:3000/mongocuentas/" + id_usuario;
            console.log(url);
          }
            return url;
        };

        obtener_url_datos_usuario(id_usuario){
             var url='';
             if (id_usuario==null){

             }else{
               var url = "http://localhost:3000/usuarios/" + id_usuario;
               console.log(url);
             }
               return url;
           };


        respuestaRecibida(e, request) {
             console.log("recibida respuesta");
             console.log(request);
                if(request.succeeded) {
                  console.log('la solicitud se resolvió correctamente con código ' + request.status);
                  this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                  this.informacion_usuario_new_cuentas = request.response;
                  console.log("en ficha usuario-> con info de usuario")

                } else {
                  this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                }
        };

              errorRecibido(e, error) {
                console.log("error"+error.request.status);
                console.log(error.request.response.message);
                this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
              };

              respuestaRecibidaUsuario(e, request) {
                   console.log("recibida respuesta");
                   console.log(request);
                      if(request.succeeded) {
                        console.log('la solicitud se resolvió correctamente con código ' + request.status);
                        this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                        this.informacion_usuario_new = request.response;
                        console.log("en ficha usuario-> con info de usuario");
                        console.log(this.informacion_usuario_new[0].login);
                        this.set('datos_usuario_obtenido',this.informacion_usuario_new[0]);
                        console.log(this.datos_usuario_obtenido.login);
                      } else {
                        this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                      }
              };

                    errorRecibidoUsuario(e, error) {
                      console.log("error usuario"+error.request.status);
                      console.log(error.request.response.message);
                      this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                    };



                    recuperardatosusuarios(){

                      if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
                       console.log('valor ' + localStorage.getItem("user-storage"));
                      }else{
                        var local =localStorage.getItem("user-storage");
                        console.log('valor datos usuario' + local);
                        var local_s =JSON.parse(local);

                      }

                      return local_s;
                    //var local = JSON.parse(localStorage.getItem("datos_usuario"));
                    //var em=local.email;

                    //return em;

                   };


            };
            window.customElements.define(FichaUsu.is, FichaUsu);



    </script>
</dom-module>
