<link rel="import" href="../bower_components/polymer/polymer.html">


<dom-module id="posicion-global">
<template>
  <style>
    div{
      :host {
        display: block;

        padding: 10px;
      }
    }
    .card {
  margin: 24px;
  padding: 16px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


  </style>
      <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey;">
          <h3 style="text-align: center">Posición global</h3>
      </div>

      <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey;">
          <h3 style="text-align: center"><p><small>Información de cuentas</small></p></h3>
      </div>

      <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
        <div class="col-md-12 "> <!-- col-md-offset-2 -->

          <template is="dom-repeat" items="[[cuentas_usuario]]">
                 <div class="card">
                    <div class="row" on-click="carga_lista_movs">
                      <div class="col-md-8">
                        [[item.cuenta]]
                        <div class="row">
                          <div class="col-md-6">[[item.tipo_cuenta]]</div>
                          <div class="col-md-6">[[item.entidad]]</div>
                        </div>
                      </div>
                      <div class="col-md-4">Importe [[item.Saldo]]</div>
                    </div>
                  </div>

          </template>

     </div>
   </div>

   <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey;">
       <h3 style="text-align: center"> <p><small>Información de cuentas externas</small></p></h3>
   </div>
   <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
     <div class="col-md-12 "> <!-- col-md-offset-2 -->

       <template is="dom-repeat" items="[[cuentas_usuario_externas]]">
              <div class="card">
                 <div class="row"  on-click="carga_lista_movs_externas">
                   <div class="col-md-8">
                     [[item.cuenta]]
                     <div class="row">
                       <div class="col-md-6">[[item.tipo_cuenta]]</div>
                       <div class="col-md-6">[[item.entidad]]</div>
                     </div>
                   </div>
                   <div class="col-md-4">Importe [[item.Saldo]]</div>
                 </div>
               </div>

       </template>

  </div>
 </div>


</template>
<script>

class PosicionGlobal extends Polymer.Element {
  static get is() { return 'posicion-global'; }
    static get properties() {
  return {
          cuentas_usuario:{
            type:Object,
          },
          cuentas_usuario_externas:{
            type:Object,
          },
          cuenta_seleccionada:{
            type:String,
            notify:true,
          },
          cuenta_seleccionada_externa:{
            type:String,
            notify:true,
          },
          visualizar:{
            type:String,
            notify:true,
          }
        }
      };

      carga_lista_movs(seleccionado){
       console.log("hola" + seleccionado.model.item.cuenta);
       this.visualizar="lista_movs";
       this.cuenta_seleccionada= seleccionado.model.item.cuenta;
    };


          carga_lista_movs_externas(sel){
           console.log("hola" + sel.model.item.cuenta);
           alert("opcion actualmente no disponible");
        };




};
       window.customElements.define(PosicionGlobal.is, PosicionGlobal);



</script>
</dom-module>
