<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">



<link rel="import" href="my-icons.html">


<dom-module id="subir-fichero">
    <template>
        <style>
            :host {
                margin: 0;
                padding: 0;
            }
        </style>




        <iron-ajax

          id="elajax"
          url="[[url_peticion]]"
          headers="{{cabecera_ac}}"
          method ="POST"
          body ="{{cuerpo_pet}}"
          content-type="application/json"
          last-response="{{users}}"
          loading="{{cargando}}"
          on-response="respuestaRecibida"
          on-error="errorRecibido"

        ></iron-ajax>


      <input type="file" id="fileInput" on-change="_fileChange">Sube recibo movimiento</input>

      <!-- <paper-button raised on-tap="subir_fichero">sube fichero</paper-button>
      <paper-icon-button icon="my-icons:file-upload" on-click="subir_fichero"></paper-icon-button>
 -->



    </template>



  <script>




  class SubirFichero extends Polymer.Element {
    static get is() { return 'subir-fichero'; }
    static get properties() {
      return {
            datos_usuario:{
              type: Object,
              computed:  'recuperardatosusuarios()',
              notify:true,
            },
            bodypet:{
              type:Object,
              notify:true
            },
            movimiento_id:{
              type:String,
            },
            usuario_id:{
              type:String,
            },
            url_peticion:{
              type:String,
            },
            cabecera_ac:{
              type:String,
                observer:'subir_fichero',
                notify:true,
            },
            cuerpo_pet:{
              type:String,
              observer:'subir_fichero',
              notify:true,
            },


          };
        }

        subir_fichero(){
          console.log("estamos a punto de subir fichero");
          this.$.elajax.generateRequest();
        }

         _fileChange(e) {
           console.log("cambio fichero");
          var length = e.target.files.length;
          for (var i = 0; i < length; i++) {
            var fichero = e.target.files[i];

            console.log(fichero.name);
            console.log(fichero);

            var datos =  new FormData();
            datos.append("file",  fichero, fichero.name);
            datos.append("id_movimiento",this.movimiento_id);
            datos.append("id_usuario",this.id_usuario);

            datos.append("fichero", new Blob( [ fichero ], { type: fichero.type } ), fichero.name);
            this.bodypet=datos;


            console.log(datos);
            console.log("fichero" + datos.get("fichero"));
            console.log("fichero" + datos.get("file"));
            var aux=this.movimiento_id;


            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/documentos',true);

             xhr.addEventListener('error', function(e) {
              console.log('Un error ocurrió', e);
            });

            var valor;


            xhr.addEventListener('readystatechange', function() {
            if (xhr.readyState == 4 && xhr.status==200)  {
                 console.log(xhr.responseText);
                valor =xhr.responseText;
                console.log("dentro de ready");
                console.log(valor);
               var valor_json=JSON.parse(valor);


               if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
                console.log('valor ' + localStorage.getItem("user-storage"));
               }else{
                 var datos =localStorage.getItem("user-storage");
                 console.log('valor datos usuario' + datos);
                 var datos =JSON.parse(datos);

               }




                //actualizamos el valor en la tabla de movimientos añadiendo un campo
                var url_documento= "http://s3-eu-west-1.amazonaws.com/usr7-demobucket/" + valor_json.id_mov+ " " + valor_json.fich_name;
                 var aux="JWT " + datos.access_token;
                 console.log(aux);
                 var cabecera = {"Authorization": aux};
                 var cuerpo={"url_doc":url_documento};
                 var url_peticion="http://localhost:3000/movimientos/"+valor_json.id_mov;

                 var actualiza=  new XMLHttpRequest();
                 actualiza.open('POST',url_peticion,true);
                 actualiza.setRequestHeader("id_movi", valor_json.id_mov);
                 actualiza.setRequestHeader("Authorization", aux);
                 actualiza.setRequestHeader("url_mov", url_documento);
                 actualiza.send(cuerpo.toString());
              }
            });



            xhr.send(datos);

          //console.log("despues send"+ xhr.responseText);



                      }
          };

          hola(vari){console.log(vari);}

          respuestaRecibida(e, request) {
               console.log("recibida respuesta");
               console.log(request);
                  if(request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                  //  this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                    var respuesta_recibida = request.response;

                  } else {
              //      this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                  }
          };

                errorRecibido(e, error) {
                  console.log("error"+error.request.status);
                  console.log(error.request.response.message);
//                  this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                };



                recuperardatosusuarios(){

                  if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
                   console.log('valor ' + localStorage.getItem("user-storage"));
                  }else{
                    var local =localStorage.getItem("user-storage");
                    console.log('valor datos usuario' + local);
                    var local_s =JSON.parse(local);

                  }

                  return local_s;
                //var local = JSON.parse(localStorage.getItem("datos_usuario"));
                //var em=local.email;

                //return em;

               };

            };
              window.customElements.define(SubirFichero.is, SubirFichero);





    </script>
</dom-module>
