<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-password-input/paper-password-input.html">


<link rel="import" href="subir-fichero.html">
<link rel="import" href="consultar-ficheros.html">
<link rel="import" href="mapa-movimiento.html">

<link rel="import" href="my-icons.html">

<!--
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

-->


<dom-module id="acceso-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-container.card {
        max-width: 400px;
        padding: 40px 40px;
      }

      .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    </style>

    <div class="container">
      <div class="card card-container">
        <h2 class="form-signin-heading">Introduce datos acceso</h2>
       <img id="profile-img" class="profile-img-card" src="{{imagen_avatar}}" />
       {{imagen_avatar}}
        <paper-input value="{{usuario}}" label="usuario"></paper-input>
        <paper-password-input label="Password" value="{{password}}"></paper-password-input>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked={{recordar::change}}> Remember me
          </label>
          <div id="msj">[[mensaje]]</div>
          </div>
        <button on-click="logarse">Login</button>
      </div><!-- /fin card-container -->
   </div><!--/fin container>-->




<!--
<consultar-ficheros></consultar-ficheros>
<subir-fichero></subir-fichero> -->
   <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>



   <!-- eso
   <mapa-movimiento  direccion="glorieta enrique 2" localidad="alcala de henares"  provincia="madrid" pais="españa"></mapa-movimiento> -->


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccesoApp extends Polymer.Element {
      static get is() { return 'acceso-app'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: recuperardatosusuario(),
          },
          page: {
            type: String,
          },
          password: {
            type: String,
            value: ''
          },
          recordar: {
            type: Boolean,
            value: false
          },
          pass_ok: {
            type: Boolean,
            notify: true
          },
          datos_user: {
            type: Object,
            notify: true
          },

          mensaje: {
            type: String,
            value: '',
            notify:true
          },
          storedUser:{
            type: Object,
            notify:true
          },
          imagen_avatar:{
            type:String,
            value: recuperarimagenusuario(),
            notify:true,
          }

        };
      };



      logarse(){
          var usuario_logo = this.usuario;
          var password_logo = this.password;
          console.log('envio peticion');
          var request = new XMLHttpRequest();

        //  request.open("POST", "http://localhost:3000/usuarios", false);
         request.open("POST", "http://localhost:3000/auth/sign_in", false); //vamos a postgre
          //Direccion con npm
          //request.open("POST", "http://localhost:3000/movimientosmongo", false);


          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var nuevoCliente = {"usuario":usuario_logo,"password":password_logo};
          var body = JSON.stringify(nuevoCliente);
          console.log('envio peticion');
          request.send(body);
          var respuesta = JSON.parse(request.responseText);
          console.log(request.responseText);
          //Depende de la respuesta deberemos hacer lo siguiente:
          //si es ok y el usuario es cliente pantalla cliente y guardar sessionstorage un valor
          //si es ok y el usuario es admin pantalla admin y guardar sessionstorage un valor
          //si es KO poner datos erroneos.

          //

          var res_acceso = respuesta.acceso;
          var res_tipo =respuesta.tipo;
          var res_token = respuesta.token;
          var avatar_u = respuesta.imagen_usuario;



          console.log("acceso:"+ res_acceso);
          console.log("tipo:"+res_tipo);
          console.log("token:"+res_token);
              console.log("avatar_u"+avatar_u);

          if (res_acceso==true){
            console.log("hola");
            this.pass_ok= true;
            this.tipo_usuario= res_tipo;
            this.datos_user=respuesta;
            this.mensaje='';
            if (respuesta.token){

              this.mensaje = '';

               this.storedUser = {
                    "nombre": usuario_logo,
                    "tipo": res_tipo,
                    "id_tipo_token":"JWT",
                    "access_token": res_token,
                    "loggedin": true,
                    "avatar": avatar_u
             };

            if (this.recordar==true){
              //Se guardan los datos en localstorage
              guardardatosusuario(this.usuario);
            }else{
              //Si indica que no se recuerde se borran los datos de localstorage
              borradatosusuario();
            }
          }else{
            this.pass_ok=false;
            this.datos_user=respuesta;
            this.mensaje="El usuario o password es incorrecto"

          }
    // //end logarse
  }else{
    this.pass_ok=false;
    this.datos_user=respuesta;
    this.mensaje="EL usuario o password es incorrecto"

  }

    }
    }
    window.customElements.define(AccesoApp.is, AccesoApp);

    function guardardatosusuario(email_usuario){

      var nombre_json={"email":email_usuario};
      localStorage.setItem("datos_usuario",JSON.stringify(nombre_json));
       console.log('valor' + localStorage.getItem("datos_usuario"));
      //sessionStorage.setItem("nombre",nombre_json);
    }

    function recuperardatosusuario(){
        var local_s='';
        if (localStorage.getItem("datos_usuario") == null || localStorage.getItem("datos_usuario") == undefined){
         console.log('valor ' + localStorage.getItem("datos_usuario"));
        }else{
          var local =localStorage.getItem("datos_usuario");
          var valor =JSON.parse(local);
          local_s = valor.email;
          this.recordar = true;


        }

        return local_s;
      //var local = JSON.parse(localStorage.getItem("datos_usuario"));
      //var em=local.email;

      //return em;

    }

    function borradatosusuario(){
      if (localStorage.getItem("datos_usuario") == null || localStorage.getItem("datos_usuario") == undefined){
       //No existen datos que borrar
      }else{
        localStorage.removeItem("datos_usuario");
      }
    }



    function recuperarimagenusuario(){
        var local_s='';
        if (localStorage.getItem("datos_usuario") == null || localStorage.getItem("datos_usuario") == undefined){
         //No hay datos del usuario en el localStorage
        }else{
          var local =localStorage.getItem("datos_usuario");
          var valor =JSON.parse(local);
          local_s = valor.avatar;
          if ((local_s==null) || (local_s=='')){
            local_s="/src/imagenes/unnamed.png";
          }else{
              local_s="/src/imagenes/" + local_s;
          }


        }

        return local_s;
      //var local = JSON.parse(localStorage.getItem("datos_usuario"));
      //var em=local.email;

      //return em;

    }




  </script>
</dom-module>
