<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">


<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">



<link rel="import" href="my-icons.html">





<dom-module id="add-movimiento">
    <template>
        <style>

            :host {
              display: block;
            }

            body{
                background-color: #525252;
            }
            .centered-form{
            	margin-top: 60px;
            }

            .centered-form .panel{
            	background: rgba(255, 255, 255, 0.8);
            	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
            }

            .center_div{
                  margin: 0 auto;
                  width:80% /* value of your choice which suits your alignment */
              }
              .card-container.card {
                max-width: 600px;
                padding: 40px 40px;
              }

              .card {
                background-color: #F7F7F7;
                /* just in case there no content*/
                padding: 20px 25px 30px;
                margin: 0 auto 25px;
                margin-top: 50px;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            }



        </style>

          <iron-ajax
              id="elajax"
              url="{{url_reg}}"
              method ="POST"
              body ="{{postBody}}"
              headers="{{cabecera_reg}}"
              content-type="application/json"
              last-response="{{users}}"
              loading="{{cargando}}"
              on-response="respuestaRecibida"
              on-error="errorRecibido"
            ></iron-ajax>


            


               <div class="container center_div" >
                 <div class="card card-container">
                       <!-- <div class="row centered-form col-12"> -->
                       <!-- <div class="col-xs-12 col-sm-8 col-md-4"> -->
                         <!--  col-sm-offset-2 col-md-offset-4 -->
                       	<div class="panel panel-default">
                       		<div class="panel-heading">
               			    		<h3 class="panel-title">Registro<small><small><br>Introduce datos movimiento</small></h3>
               			 			</div>
               			 			<div class="panel-body">
               			    				<div class="row">
               			    				<div class="col-12">
               			    					     <paper-input disabled padding=10px value="{{cuenta_sel}}" label="Cuenta" placeholder="First Name"></paper-input>
                              	</div>
                 			    			</div>

                              <div class="row">
                              <div class="col-12">
                                     <paper-input value="{{myIp1}}" label="Fecha Movimiento" placeholder="Fecha Movimiento" required auto-validate error-message="Campo Oblogatorio"></paper-input>
                              </div>
                              </div>

                              <div class="row">
                                <div class="col-12">
                                    <paper-input value="{{myIp2}}" label="importe" required auto-validate error-message="Campo Oblogatorio"></paper-input>
                                </div>
                              </div>

                              <div  class="row">
                                <div class="col-12">
                                       <paper-input value="{{myIp3}}" label="tipo"  placeholder="Tipo"></paper-input>
                                </div>
                              </div>



               			    			<div class="row">

               			    				<div class="col-12">
               			    		          <paper-input value="{{myIp4}}" label="catalogacion"></paper-input>
                                   </div>
                                   </div>


                                <div class="row">
               			    				<div class="col-12">

               			    				      <paper-input value="{{myIp5}}" label= "direccion"></paper-input>
                              </div>
                              </div>

                              <div class="row">
                              <div class="col-12">

                                    <paper-input value="{{myIp6}}" label= "canal"></paper-input>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-12">

                                  <paper-input value="{{myIp7}}" label= "debito\credito"></paper-input>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-12">

                                <paper-input value="{{myIp8}}" label= "localidad"></paper-input>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-12">

                              <paper-input value="{{myIp9}}" label= "Provincia"></paper-input>
                      </div>
                      </div>



                      <div class="row">
                      <div class="col-12">

                            <paper-input value="{{myIp10}}" label= "Pais"></paper-input>
                    </div>
                    </div>


                    <div class="row">
                    <div class="col-12">

                          <paper-input value="{{myIp11}}" label= "Concepto"></paper-input>
                  </div>
                  </div>
                            </div>
                            </div>


               			    		     <button on-click="crear_movimiento" class="btn btn-info btn-block" >Añadir movmiento </button>
                            {{url_reg}}

                            </div>

               			    	</div>
               	    		<!-- </div> -->

  </template>


  <script>

  class AddMovimiento extends Polymer.Element {
    static get is() { return 'add-movimiento'; }
    static get properties() {
      return {
        datos_usuario:{
          type: Object,
          value: recuperardatosusuarios(),
          notify:true,
        },
        cuenta_sel:{
            type:String,
              notify:true,
          },
        url_reg:{
            type:String,
            computed:'obtener_url(datos_usuario,cuenta_sel)',
              notify:true,
          },


        cabecera_reg:{
          type:Object,
          computed:'obtener_cabecera(datos_usuario)',
            notify:true,
        },
        informacion_usuario_new:{
          type:Object,
        },
        postBody: {
            type: String,
            computed: 'obtenerBody(cuenta_sel,myIp1, myIp2, myIp3,myIp4,myIp5,myIp6,myIp7,myIp8,myIp9,myIp10,myIp11)',
            notify:true
        },
        esAdmin:{
          type:Boolean,
          notify:true
        }

//   body='[{"foo": "{{foo}}"}]'


            };
          };
          crear_movimiento() {
            //Se realiza la peticion, habría que crear el cuerpo de la peticion
           var lanzar=false;
            console.log(this.postBody.login);

             if ((this.postBody.cuenta==null) || (this.postBody.cuenta==undefined)){lanzar=false;}else{lanzar=true;}
             if ((this.postBody.fecha_mov==null) || (this.postBody.fecha_mov==undefined)){lanzar=false;}else{lanzar=true;}
             if ((this.postBody.importe_mov==null) || (this.postBody.importe_mov==undefined )){lanzar=false;}else{lanzar=true;}



            if (lanzar==true){
              console.log("lanzamos");
              this.$.elajax.generateRequest();
            }else{
              console.log("no lanzamos");
            }


          };

          obtenerBody (cuenta,i1, i2, i3,i4,i5,i6,i7,i8,i9,i10,i11) {


            return {
                "cuenta":cuenta,
                "fecha_mov": i1,
                "importe_mov": i2,
                "tipo_mov": i3,
                "catalogacion_mov":i4,
                "direccion_mov":i5,
                "canal":i6,
                "d_c":i7,
                "localidad_mov":i8,
                "provincia_mov":i9,
                "pais_mov":i10,
                "concepto_mov":i11

              };
          };


        obtener_cabecera(datos_usuario){
            if (datos_usuario==null){
              cabecera ="";
            }else{

             var aux="JWT " + datos_usuario.access_token;

             var cabecera = {"Authorization": aux};
            //  var cabecera_str = JSON.stringify(cabecera);
                console.log(cabecera);
          }
           return cabecera;
        };

        obtener_url(datos_usuario,cuenta){
          var url='';
          if (datos_usuario==null){
            console.log(url);
          }else{


            var url = "http://localhost:3000/cuentas/"+ cuenta +"/movimientos/";
            console.log(url);
          }
            return url;
        };




        respuestaRecibida(e, request) {
             console.log("recibida respuesta");
             console.log(request);
                if(request.succeeded) {
                  console.log('la solicitud se resolvió correctamente con código ' + request.status);
                  this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                  var respuesta_recibida = request.response;
                    alert("Movimiento Creado Satisfactoriamente");

                } else {
                  this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                }
        };

              errorRecibido(e, error) {
                console.log("error"+error.request.status);
                console.log(error.request.message);
                this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
              };







            };
            window.customElements.define(AddMovimiento.is, AddMovimiento);


    </script>
</dom-module>
