<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<!--  Componentes de la pantalla -->
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">




<link rel="import" href="log-out.html">
<link rel="import" href="lista-movimientos.html">
<link rel="import" href="posicion-global.html">
<link rel="import" href="ficha-usu.html">


<dom-module id="pag-clientes">
  <template>
    <style>
      div{
        :host {
          display: block;

          padding: 10px;
        }
      }
      .card {
    margin: 24px;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }


    </style>

    <iron-ajax
      auto
      id="elajax"
      url="[[url_cliente]]"
      headers="{{cabecera}}"
      handle-as="json"
      last-response="{{users}}"
      loading="{{cargando}}"
      on-response="respuestaRecibida"
      on-error="errorRecibido"

    ></iron-ajax>

    <iron-ajax
      auto
      id="elajax_externa"
      url="[[url_cliente_externa]]"
      headers="{{cabecera}}"
      handle-as="json"
      last-response="{{users_2}}"
      loading="{{cargando}}"
      on-response="respuestaRecibidaExterna"
      on-error="errorRecibidoExterna"

    ></iron-ajax>




    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>

    <!-- <div on-tap="buscar">
      Buscar!
    </div> -->

    <div class="container"> <!--inicio ficha usuario-->
      <div class="row">
                <!-- Columna de la izquierda -->
             <div class="col-md-3">
               <div class="col-md-12" align="center">
                 <img class="img-responsive img-portfolio img-hover" src="{{avatar_usuario}}"><!--imagenn avatar>-->

               </div>
               <div class="col-md-12">
                 <p class="text-center"><strong>[[datos_usuario.nombre]]</strong></p>
                 <p class="text-center"><em>[[datos_usuario.tipo]]</em></p>
               </div>

               <div class="col-md-12 text-center">
                  <!-- Redes sociales
                                      <ul class="list-unstyled list-inline list-social-icons">
                            <li>
                                <a href="#"><i class="editIcons icon-facebook-square editSizeIcons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="editIcons icon-linkedin-square editSizeIcons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="editIcons icon-twitter-square editSizeIcons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="editIcons icon-google-plus-square editSizeIcons"></i></a>
                            </li>
                        </ul>
                        Fin redes sociales -->
               </div>

               <div class="col-md-12">
               <!-- Barra vertical de opciones del perfil de usuairo -->
                 <br >
                 <ul class="list-group list-primary">
                   <a href="#" class="list-group-item" on-click="abrir_posicion_global">Posicion global</a>
                   <a href="#" class="list-group-item" on-click="abrir_registro_usuario">Mi perfil</a>

                 </ul>
             </div>
                    <!-- Fin Barra vertical de opciones del perfil de usuario -->
             </div>
                <!-- Fin de Columna de la izquierda -->


                <!-- Parte central -->
                           <div class="col-md-9">

                               <posicion-global hidden$="{{ocultar_pos_global}}" cuentas_usuario="[[cuentas_usuario]]" cuentas_usuario_externas="[[cuentas_usuario_externas]]" cuenta_seleccionada="{{cuenta_sel}}" visualizar="{{pantalla_actual}}"></posicion-global>
                               <lista-movimientos  hidden$="{{ocultar_lista_movs}}" datos_usuario="{{datos_usuario}}" cuenta_sel="{{cuenta_sel}}" visualizar="{{pantalla_actual}}"></lista-movimientos>
                               <ficha-usu hidden$="{{ocultar_ficha_usuario}}" id_usuario="{{datos_usuario.nombre}}" datos_usuario="{{datos_usuario}}" visualizar="{{pantalla_actual}}"></ficha-usu>

                            </div>

                </div>
              </div>



  </template>
  <script>
    Polymer({
      is: "pag-clientes",

      properties: {
        cargando: Boolean,
        users: {
          type:String,
          notify: true
        },
        mensaje:{
          type:String,
          notify:true
        },

       datos_usuario:{
           type:Object,
           value: recuperardatosusuarios(),
           notify:true,
       },

       url_cliente:{
         type:String,
         computed:'obtener_url(datos_usuario)',
         notify:true,
       },
       url_cliente_externa:{
         type:String,
         computed:'obtener_url_externa(datos_usuario)',
         notify:true,
       },
       cabecera:{
         type:Object,
         computed:'obtener_cabecera(datos_usuario)',
         notify:true,
       },
       cuentas_usuario:{
         type:Object,
       },
       cuentas_usuario_externas:{
         type:Object,
       },
        cuenta_sel:{
          type:String,
          value:'',
          notify:true,
        },
        ocultar_pos_global:{
          type:Boolean,
          computed:'visualizacion_pantalla(pantalla_actual,"pos")',
          value:false,
            notify:true,
        },
        ocultar_lista_movs:{
          type:Boolean,
          computed:'visualizacion_pantalla(pantalla_actual,"movs")',
          value:true,
          notify:true,
        },
        ocultar_ficha_usuario:{
          type:Boolean,
          computed:'visualizacion_pantalla(pantalla_actual,"user")',
          value:true,
          notify:true,
        },
        pantalla_actual:{
          type:String,
          value:"posicion"
        },
        avatar_usuario:{
          type:String,
          computed:'obtener_imagen(datos_usuario)',
        }


      },




      buscar: function() {

        this.$.elajax.generateRequest();
      },

      visualizacion_pantalla:function(pantalla_actual,variable){
     console.log("en visualizacion");
     var resultado=false;
        switch(pantalla_actual) {
          case "posicion":

              switch (variable) {
                case "pos":
                    resultado = false;
                    break;
                case "movs":
                 resultado= true;
                 break;
                 case "user":
                   resultado=true;
                   break;
                }


          break;
        case "lista_movs":
          switch (variable) {
            case "pos":
              resultado= true;
              break;
            case "movs":
              resultado=false;
              break;
              case "user":
                resultado=true;
                break;

            }
             console.log("en lista_movs");

          break;

          case "ficha_user":
            switch (variable) {
              case "pos":
                resultado= true;
                break;
              case "movs":
                resultado=true;
                break;
                case "user":
                  resultado=false;
                  break;

              }
               console.log("en ficha_user " + resultado);

            break;



        default:

            break;
          }

    return resultado;

      },



      carga_lista_movimientos: function(seleccionado){
         console.log("hola vamos a ficha");
         visualizacion_pantalla("ficha_user");




    },

    abrir_registro_usuario: function(){

      this.pantalla_actual= "ficha_user";



  },

  abrir_posicion_global: function(){

    this.pantalla_actual= "posicion";



},


      respuestaRecibida: function(e, request) {
           console.log("recibida respuesta");
           console.log(request);
              if(request.succeeded) {
                console.log('la solicitud se resolvió correctamente con código ' + request.status);
                this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                this.cuentas_usuario = request.response;

              } else {
                this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
              }
      },

            errorRecibido: function(e, error) {
              console.log("error"+error.request.status + error.request.status.message + error.request.message);
              console.log(error.request.response.message);
              this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
            },



            respuestaRecibidaExterna: function(e, request) {
                 console.log("recibida respuesta");
                 console.log(request);
                    if(request.succeeded) {
                      console.log('la solicitud se resolvió correctamente con código ' + request.status);
                      this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                      this.cuentas_usuario_externas = request.response;

                    } else {
                      this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                    }
            },

                  errorRecibidoExterna: function(e, error) {
                    console.log("error"+error.request.status + error.request.status.message + error.request.message);
                    console.log(error.request.response.message);
                    this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                  },




                obtener_cabecera: function (datos_usuario){
                    if (datos_usuario==null){
                      cabecera ="";
                    }else{

                     var aux="JWT " + datos_usuario.access_token;

                     var cabecera = {"Authorization": aux};
                    //  var cabecera_str = JSON.stringify(cabecera);
                        console.log(cabecera);
                  }
                   return cabecera;
                },

                obtener_url: function (datos_usuario){
                  var url='';
                  if (datos_usuario==null){
                    url="http://localhost:3000/mongocuentas/";
                    console.log(url);
                  }else{
                    var url = "http://localhost:3000/mongocuentas/" + datos_usuario.nombre;

                  }
                    return url;
                },


                obtener_imagen: function (datos_usuario){
                  var valor = datos_usuario.avatar;
                  var ima;
                  if ((datos_usuario==null) || (valor==null )){
                    ima="/src/imagenes/unnamed.png";

                  }else{
                    ima="/src/imagenes/"+valor+".png";
                  }
                    return ima;
                },


                obtener_url_externa: function (datos_usuario){
                  var url='';
                  if (datos_usuario==null){
                    //url="http://localhost:3000/"+ datos_usuario.nombre + "/cuentas/";
                    //console.log("cuentas externas " + url);
                  }else{
                    url="http://localhost:3000/clientes_externos/"+ datos_usuario.nombre + "/cuentas/";
                      console.log("cuentas externas " + url);

                  }
                    return url;
                },

    });

    function recuperardatosusuarios(){

        if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
         console.log('valor ' + localStorage.getItem("user-storage"));
        }else{
          var local =localStorage.getItem("user-storage");
          console.log('valor datos usuario' + local);
          var local_s =JSON.parse(local);

        }

        return local_s;
      //var local = JSON.parse(localStorage.getItem("datos_usuario"));
      //var em=local.email;

      //return em;

    };


  </script>
</dom-module>
