<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="consultar-ficheros">
    <template>
        <style>
            :host {
                margin: 0;
                padding: 0;
            }
        </style>

        <iron-ajax

          id="cfichero"
          url="http://localhost:3000/documentos"
          content-type="application/json"
          last-response="{{users}}"
          loading="{{cargando}}"

        ></iron-ajax>




      <paper-button raised on-tap="consulta_ficheros">consulta fichero</paper-button>

      los valores de {{datos_usuario}} <br>
      {{datos_usuario.nombre}}
      <br>
      la cabecera : [[cabecera]]
    </template>



  <script>

  class ConsultaFichero extends Polymer.Element {
    static get is() { return 'consultar-ficheros'; }
    static get properties() {
      return {
            datos_usuario:{
              type: Object,
              notify:true,
            },

            };
          };
          consulta_ficheros() {
                  // Borramos  de StoredUser los datos, como estan biedeados con el padre se borrará
                  //el localstorage

                      this.$.cfichero.generateRequest();

              }


            };
              window.customElements.define(ConsultaFichero.is, ConsultaFichero);

    </script>
</dom-module>
