<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="my-icons.html">



<link rel="import" href="my-icons.html">





<dom-module id="ficha-usuario">
    <template>
        <style>
        :host {
          display: block;

          padding: 10px;
        }
        .card_mov {
      margin: 24px;
      padding: 16px;
      color: #757575;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
        </style>



            <iron-ajax

              id="elajax"
              url="[[url_reg]]"
              headers="{{cabecera_reg}}"
              method ="GET"
              last-response="{{users}}"
              loading="{{cargando}}"
              on-response="respuestaRecibida"
              on-error="errorRecibido"

            ></iron-ajax>


            <iron-ajax
              id="recdatosusuario"
              url="[[url_reg_datos_usuario]]"
              headers="{{cabecera_reg}}"
              method ="GET"
              loading="{{cargando}}"
              on-response="respuestaRecibidaUsuario"
              on-error="errorRecibidoUsuario"
            ></iron-ajax>


            <!-- <paper-icon-button icon="my-icons:arrow-back" on-tap="volver_posicion_global" on-click="volver_posicion_global"></paper-icon-button> -->

   <div class="container"> <!--inicio ficha usuario-->

     <div class="row">
               <!-- Columna de la izquierda -->
           	<div class="col-md-3">
           		<div class="col-md-12" align="center">
           			<img class="img-responsive img-portfolio img-hover" src="src/imagenes/{{datos_usuario_obtenido.imagen_usuario}}.png"><!--imagenn avatar>-->

            	</div>
           		<div class="col-md-12">
           			<p class="text-center"><strong>[[datos_usuario_obtenido.login]]</strong></p>
   	        		<p class="text-center"><em>[[datos_usuario_obtenido.tipo]]</em></p>
           		</div>

           		<div class="col-md-12 text-center">
       		       <!-- Redes sociales
                    	               <ul class="list-unstyled list-inline list-social-icons">
                           <li>
                               <a href="#"><i class="editIcons icon-facebook-square editSizeIcons"></i></a>
                           </li>
                           <li>
                               <a href="#"><i class="editIcons icon-linkedin-square editSizeIcons"></i></a>
                           </li>
                           <li>
                               <a href="#"><i class="editIcons icon-twitter-square editSizeIcons"></i></a>
                           </li>
                           <li>
                               <a href="#"><i class="editIcons icon-google-plus-square editSizeIcons"></i></a>
                           </li>
                       </ul>
                       Fin redes sociales -->
           		</div>

           		<div class="col-md-12">
           		<!-- Barra vertical de opciones del perfil de usuairo -->
           			<!-- <br >
           			<ul class="list-group list-primary">
           				<a href="#" class="list-group-item">Ver perfil público</a>
           				<a href="#" class="list-group-item">Mi perfil</a>
           				<a href="#" class="list-group-item">Fotografia</a>
           				<a href="#" class="list-group-item">Cuenta</a>
           				<a href="#" class="list-group-item">Preferencias</a>
           				<a href="#" class="list-group-item">Datos bancarios</a>
           			</ul> -->
       			</div>
                   <!-- Fin Barra vertical de opciones del perfil de usuario -->
           	</div>
               <!-- Fin de Columna de la izquierda -->

               <!-- Parte central -->
               <div class="col-md-9">
                 <div class="container center_div" >
                   <div class="card card-container">
                         <!-- <div class="row centered-form col-12"> -->
                         <!-- <div class="col-xs-12 col-sm-8 col-md-4"> -->
                           <!--  col-sm-offset-2 col-md-offset-4 -->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Registro<small><small><br>Informacion del perfil</small></h3>
                            </div>
                            <div class="panel-body">

                                  <div class="col-12">
                                         <paper-input  disabled value="{{datos_usuario_obtenido.nombre}}" label="Nombre"></paper-input>
                                  </div>



                                <div class="col-12">
                                       <paper-input  disabled value="{{datos_usuario_obtenido.apellidos}}" label="Apellidos" ></paper-input>
                                </div>



                                  <div class="col-12">
                                      <paper-input  disabled value="{{datos_usuario_obtenido.login}}" label="usuario"></paper-input>
                                  </div>


                                <!-- <div hidden$="{{!esAdmin}}" class="row"> -->
                                  <div class="col-12">
                                         <paper-input  disabled value="{{datos_usuario_obtenido.tipo}}" label="tipo"></paper-input>
                                  </div>
                                <!-- </div> -->



                                <!-- <div class="row">

                                  <div class="col-12">
                                        <paper-input value="{{myIp2}}" label="Password"></paper-input>
                                     </div>
                                     </div>


                                  <div class="row">

                                  <div class="col-12">

                                        <paper-input value="{{myIp5}}" label="Repite el password"></paper-input>



                                </div>
                                </div> -->


                                <div class="row">

                                <div class="col-12">
                                  <paper-item>
                                  <paper-icon-item>
                                        <iron-icon src="src/imagenes/{{datos_usuario_obtenido.imagen_usuario}}.png">{{datos_usuario_obtenido.imagen_usuario}}</iron-icon>
                                      </paper-icon-item>

                                  </paper-item>

                              </div>

                              </div>


                              </div>

                            </div>
                          <!-- </div> -->
                        </div>
                        <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey;">
                            <h3 style="text-align: center"><p><small>Información de cuentas</small></p></h3>
                        </div>

                        <div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
                          <div class="col-md-12 "> <!-- col-md-offset-2 -->

                        <template is="dom-repeat" items="[[informacion_usuario_new_cuentas]]">
                               <div class="card_mov">
                                  <div class="row" on-tap="carga_lista_movs" on-click="carga_lista_movs">
                                    <div class="col-md-8">
                                      [[item.cuenta]]
                                      <div class="row">
                                        <div class="col-md-6">[[item.tipo_cuenta]]</div>
                                        <div class="col-md-6">[[item.entidad]]</div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">Importe [[item.Saldo]]</div>
                                  </div>
                                </div>

                        </template>
</div>
</div>


                      </div>











                   </div>
                              <!-- Fin del div central parte de formulario información básica -->
    </div>


    </div>

  </div>




    </template>



  <script>

  class FichaUsuario extends Polymer.Element {
    static get is() { return 'ficha-usuario'; }
    static get properties() {
      return {
        datos_usuario:{
          type: Object,
        //  value: recuperardatosusuarios(),
          notify:true,
        },
        url_reg:{
            type:String,
            computed:'obtener_url(id_usuario)',
            notify:true,
          },
        cabecera_reg:{
          type:Object,
          computed:'obtener_cabecera_ficha(datos_usuario)',
          notify:true,
        },
        url_reg_datos_usuario:{
            type:String,
            computed:'obtener_url_datos_usuario(id_usuario)',
            notify:true,
          },
          visualizar:{
            type:String,
            notify:true,

          },



        informacion_usuario_new:{
          type:Object,
        },

        datos_usuario_obtenido:{
          type:Object,
        },
        informacion_usuario_new_cuentas:{
          type:Object,
        },
        id_usuario:{
          type:String,
        }


            };
          };


      static get observers() {
        console.log('observers');
        return [
          'cargadatosficha(id_usuario, cabecera_reg, url_reg)',
        ];
      }

       obtener_cabecera_ficha(datos_usu){
          console.log('cabecera');
            var cabecera ="";
          if (datos_usu==null){
           cabecera ="";
          }else{

           var aux="JWT " + datos_usu.access_token;
          console.log(aux);
           var cabecera = {"Authorization": aux};
          //  var cabecera_str = JSON.stringify(cabecera);
        }
          console.log("ficha_usuario" +cabecera);
         return cabecera;
      };

      volver_posicion_global(){
        this.visualizar = "posicion";

      }

         cargadatosficha(id_usuario,cabecera,url){
           console.log("usuario" + id_usuario)
            if (id_usuario==null || id_usuario==undefined  ){
              //no lanzamos la consulta
            }else {
              console.log(this.datos_usuario.access_token);
              var aux="JWT " + this.datos_usuario.access_token;
             console.log(aux);
              var cabecera = {"Authorization": aux};
              this.$.elajax.headers=cabecera;
              this.$.recdatosusuario.headers=cabecera;
          //    var cab = obtener_cabecera_ficha(this.datos_usuario);
          //
              this.$.elajax.generateRequest();
              this.$.recdatosusuario.generateRequest();

            }



         };



     obtener_url(id_usuario){
          var url='';
          if (id_usuario==null){

          }else{
            var url = "http://localhost:3000/mongocuentas/" + id_usuario;
            console.log(url);
          }
            return url;
        };

        obtener_url_datos_usuario(id_usuario){
             var url='';
             if (id_usuario==null){

             }else{
               var url = "http://localhost:3000/usuarios/" + id_usuario;
               console.log(url);
             }
               return url;
           };


        respuestaRecibida(e, request) {
             console.log("recibida respuesta");
             console.log(request);
                if(request.succeeded) {
                  console.log('la solicitud se resolvió correctamente con código ' + request.status);
                  this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                  this.informacion_usuario_new_cuentas = request.response;
                  console.log("en ficha usuario-> con info de usuario")

                } else {
                  this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                }
        };

              errorRecibido(e, error) {
                console.log("error"+error.request.status);
                console.log(error.request.response.message);
                this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
              };

              respuestaRecibidaUsuario(e, request) {
                   console.log("recibida respuesta");
                   console.log(request);
                      if(request.succeeded) {
                        console.log('la solicitud se resolvió correctamente con código ' + request.status);
                        this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                        this.informacion_usuario_new = request.response;
                        console.log("en ficha usuario-> con info de usuario");
                        console.log(this.informacion_usuario_new[0].login);
                        this.set('datos_usuario_obtenido',this.informacion_usuario_new[0]);
                        console.log(this.datos_usuario_obtenido.login);
                      } else {
                        this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                      }
              };

                    errorRecibidoUsuario(e, error) {
                      console.log("error usuario"+error.request.status);
                      console.log(error.request.response.message);
                      this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                    };






            };
            window.customElements.define(FichaUsuario.is, FichaUsuario);

            function recuperardatosusuarios(){

               if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
                console.log('valor ' + localStorage.getItem("user-storage"));
               }else{
                 var local =localStorage.getItem("user-storage");
                 console.log('valor datos usuario' + local);
                 var local_s =JSON.parse(local);

               }

               return local_s;
             //var local = JSON.parse(localStorage.getItem("datos_usuario"));
             //var em=local.email;

             //return em;

           };

    </script>
</dom-module>
