<link rel="import" href="../bower_components/polymer/polymer.html">


<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="my-icons.html">



<dom-module id="lista-usuarios">
  <template>
    <style>



      .card {
    margin: 24px;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    color: #555;
    border-radius: 50%;
    background: #ddd;
    font-size: 30px;
    line-height: 64px;
  }
  .titulo{
  display: inline-block;
    text-align: center;
  }
  .acciones{
    display: inline-block;
    text-align: right;
  }
  .profile-img-card {
      width: 60px;
      height: 60px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
    </style>

    <iron-ajax
      auto
      id="elajax"
      url="[[url_admin]]"
      headers="{{cabecera_admin}}"
      handle-as="json"
      last-response="{{users}}"
      loading="{{cargando_user}}"
      on-response="respuestaRecibida"
      on-error="errorRecibido"

    ></iron-ajax>

    <iron-ajax

      id="ajax_delete_user"
      url="[[url_delete_usuario]]"
      headers="{{cabecera_admin}}"
      handle-as="json"
      method="DELETE"
      last-response="{{users}}"
      loading="{{cargando}}"
      on-response="respuestaRecibidadelete"
      on-error="errorRecibidodelete"

    ></iron-ajax>

       <paper-spinner alt="Cargando el usuario..." active="[[cargando_user]]"></paper-spinner>

      <template is="dom-repeat" items="[[informacion_usuarios]]">
          <div class="card">
            <div class="row">



            <div class="col">

                  <img class=".profile-img-card" src="src/imagenes/{{item.imagen_usuario}}.png"><!--imagenn avatar>-->


            </div>
            <div class="col">
                <div class="titulo">  <h1>[[item.login]]</h1> [[item.tipo]]

                </div>
            </div>

          <div class="col">



            <div  class="acciones">
            <paper-icon-button  icon="my-icons:create" on-tap="carga_ficha_usuario" on-click="carga_ficha_usuario"></paper-icon-button>
            <paper-icon-button  icon="my-icons:delete" on-tap="borrar_usuario" on-click="borrar_usuario"></paper-icon-button>
            </div>
              </div>
                </div>

          </div>

      </template>


  </template>

  <script>
    class ListaUsuarios extends Polymer.Element {
      static get is() { return 'lista-usuarios'; }
        static get properties() {
      return {
            datos_usuario:{
              type: Object,
              value: recuperardatosusuarios(),
              notify:true,
            },
            //Url de la petición
            url_admin:{
                type:String,
                computed:'obtener_url(datos_usuario)',
                  notify:true,
              },


            //Datos de la cabecera de la petición al servidor
            cabecera_admin:{
              type:Object,
              computed:'obtener_cabecera(datos_usuario,filtro_usuarios)',
                notify:true,
            },

            //Respuesta de la petición que realizamos para conocer la informacioń
            //De usuarios y de clientes
            informacion_usuarios:{
              type:Object,

            },
           //Pasa el valor del filtro para listar usuarios [0=cliente, 1=administradores]
            filtro_usuarios:{
              type:Number,
            },


            cliente_seleccionado:{
              type:String,
              value:'',
              notify:true,
            },
            visualizar_ficha:{
              type:Boolean,
              value:false,
              notify:true,
            }
          };



      };

      // buscar() {
      //   console.log(this.$.url_admin);
      //   console.log(this.$.cabecera);
      //   this.$.elajax.generateRequest();
      // };



      carga_ficha_usuario(seleccionado){
       console.log("hola" + seleccionado.model.item.login);
       this.visualizar_ficha =true;
       this.cliente_seleccionado =  seleccionado.model.item.login;



      };

  modificar_usuario(){
  console.log("modificar");
  }

borrar_usuario(e){
    console.log("borrar USUARIO"+e.model.item.login );

    this.$.ajax_delete_user.url= "http://localhost:3000/usuarios/"+e.model.item.login;
    this.$.ajax_delete_user.generateRequest();
}

    obtener_cabecera(datos_usuario,filtro_usuarios){
        if (datos_usuario==null){
          cabecera ="";
        }else{

         var aux="JWT " + datos_usuario.access_token;

         var cabecera = {"Authorization": aux};
        //  var cabecera_str = JSON.stringify(cabecera);
            console.log(cabecera);
            if (filtro_usuarios==0){
              var cabecera = {"Authorization": aux,"tipo":"cliente"};
            }else{
              var cabecera = {"Authorization": aux,"tipo":"admin"};
            }


      }





       return cabecera;


    };

    obtener_url(datos_usuario,filtro_usuarios){
      var url='';
      if (datos_usuario==null){
        url="http://localhost:3000/usuarios/";
        console.log(url);
      }else{
        url="http://localhost:3000/usuarios/";
        console.log(url);

      }
        return url;
    };


    respuestaRecibida(e, request) {
         console.log("recibida respuesta");
         console.log(request);
            if(request.succeeded) {
              console.log('la solicitud se resolvió correctamente con código ' + request.status);
              this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
              this.informacion_usuarios = request.response;

            } else {
              this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
            }
    };

          errorRecibido(e, error) {
            console.log("error"+error.request.status);
            console.log(error.request.response.message);
            this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
          };


          respuestaRecibidadelete(e, request) {
               console.log("recibida respuesta");
               console.log(request);
                  if(request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                    this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                    alert("Usuario Borrado Satisfactoriamente");
                    this.$.elajax.generateRequest();


                  } else {
                    this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                  }
          };

                errorRecibidodelete(e, error) {
                  console.log("error"+error.request.status);
                  console.log(error.request.response.message);
                  this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                };


    }
    window.customElements.define(ListaUsuarios.is, ListaUsuarios);


    function recuperardatosusuarios(){

       if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
        console.log('valor ' + localStorage.getItem("user-storage"));
       }else{
         var local =localStorage.getItem("user-storage");
         console.log('valor datos usuario' + local);
         var local_s =JSON.parse(local);

       }

       return local_s;
     //var local = JSON.parse(localStorage.getItem("datos_usuario"));
     //var em=local.email;

     //return em;

   };

  </script>
</dom-module>
