<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">



 <link rel="import" href="my-icons.html">
 <link rel="import" href="subir-fichero.html">
<link rel="import" href="add_movimiento.html">
<link rel="import" href="registro-app.html">


<dom-module id="lista-movimientos">
  <template>
    <style>
      .card {

    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    color: #555;
    border-radius: 50%;
    background: #ddd;
    font-size: 30px;
    line-height: 64px;
  }

  paper-dialog {

width: 100%;
max-width: 800px;

}

  paper-fab {
       position: fixed;
       right: 24px;
       bottom: 24px;
       --paper-fab-background: #EF5458;
       --paper-fab-keyboard-focus-background: #DF4448;
     }


    </style>

    <iron-ajax

      id="elajax"
      url="[[url_movimientos]]"
      headers="{{cabecera_movimientos}}"

      last-response="{{users}}"
      loading="{{cargando}}"
      on-response="respuestaRecibida"
      on-error="errorRecibido"

    ></iron-ajax>


<div class=col-md-12>
  <div class="row">
    <div class="col-md-6">
    <paper-icon-button icon="my-icons:arrow-back" on-tap="volver_posicion_global" on-click="volver_posicion_global"></paper-icon-button>
  </div>
  <div class="col-md-16 text-right">
    <paper-icon-button icon="my-icons:refresh" on-tap="actualiza_datos" on-click="actualiza_datos"></paper-icon-button>
  </div>
  </div>

</div>


<div class="col-md-12" style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: lightgrey;">
    <h3 style="text-align: center">Informacion cuenta <p><small>[[cuenta_sel]]</small></p></h3>
</div>




  </iron-collapse>


                   <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>

                                    <th>Fecha</th>
                                    <th>Concepto</th>
                                    <th>Importe</th>
                                  </tr>
                                </thead>
                                <tbody>
    <template is="dom-repeat" items="[[lista_movimientos_rec]]">

      <tr>
        <td>
          [[item.fecha_mov]]
        </td>
        <td>
          [[item._id]]
        </td>
        <td>
          [[item.importe_mov]]
        </td>
        <td>
          <button on-click="toggle"><iron-icon icon="my-icons:expand-more"></iron-icon></button>


        </td>
      </tr>

      <tr>
      </tr>




      <tr  hidden$="{{!load_detalle}}">
        <td colspan="4">

        <iron-collapse id="eti[[item._id]]">

          <div>
            <div class="card">
              Detalle del movmiento [[item._id]]
               <div class="row" >
                 <div class="col-md-12">
                   <subir-fichero hidden$="[[item.url_mov]]" id="hola" movimiento_id="[[item._id]]"  usuario_id="[[datos_usuario.nombre]]"></subir-fichero>

                   <div class="row">
                     <div class="col-md-6">Catalogación del movimiento
                     </div>
                     <div class="col-md-6">[[item.catalogacion_mov]]</div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">  Concepto del movimiento
                     </div>
                     <div class="col-md-6"> [[item.concepto_mov]]</div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">  Credito/debito
                     </div>
                     <div class="col-md-6"> [[item.d_c]]</div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">  Canal del movimiento
                     </div>
                     <div class="col-md-6"> [[item.canal]]</div>
                   </div>
                   <div hidden$="[[!item.url_mov]]" class="row">
                     <div class="col-md-12">   <paper-icon-button  icon="my-icons:remove-red-eye" on-click="abre_documento"></paper-icon-button>  extracto  [[item.url_mov]]</div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">direccion  movimiento </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">  Debito/Credito
                      </div>
                      <div class="col-md-6"> [[item.d_c]]</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">  Direccion
                      </div>
                      <div class="col-md-6"> [[item.direccion_mov]]</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">  Localidad
                      </div>
                      <div class="col-md-6"> [[item.localidad_mov]]</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">  Provincia
                      </div>
                      <div class="col-md-6"> [[item.provincia_mov]]</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">  Pais
                      </div>
                      <div class="col-md-6"> [[item.pais_mov]]</div>
                    </div>
                    <button on-click="abre_mapa_movimiento">Ver mapa movimiento</button>
                    <paper-icon-button  icon="my-icons:place" on-click="abre_mapa_movimiento"></paper-icon-button>

                  <iron-collapse id="mapa_mov[[item._id]]">
                         <mapa-movimiento  cargar_mapa="{{load_mapa}}" direccion="glorieta enrique 2" localidad="alcala de henares"  provincia="madrid" pais="españa"></mapa-movimiento>
                  </iron-collapse>
               </div>
             </div>


</div>

        </iron-collapse>




           <!-- <div class="card" on-tap="carga_det_mov" on-click="carga_det_mov">
              <div class="row">
                <div class="col-md-8">
                  [[item._id]] -->

                  <!-- <div class="row"> -->

                    <!-- <div class="col-md-6">[[item.fecha_mov]]</div>
                    <div class="col-md-6">[[item.importe_mov]]</div>
                  </div>
                </div>
                <div class="col-md-4">Importe</div>
              </div>
            </div> -->
          </td>
          </tr>
    </template>

</tbody>
</table>

</div>














</div>
</div>
<paper-fab icon="my-icons:add" on-tap="crea_movimiento" on-click="crea_movimiento"></paper-fab>



  <paper-dialog id="add_mov" modal>
     <paper-dialog-scrollable>
         <add-movimiento dato_usuario="{{datos_usuario}}" cuenta_sel="{{cuenta_sel}}"> </add-movimiento>
        <!-- <registro-app dato_usuario="{{datos_usuario}}"> </registro-app> -->
        <paper-button dialog-confirm autofocus on-click="actualiza_datos">Cierra sin crear movimiento</paper-button>
      </paper-dialog-scrollable>
  </paper-dialog>

  </template>

  <script>
    class ListaMovimientos extends Polymer.Element {
      static get is() { return 'lista-movimientos'; }
        static get properties() {
      return {
            datos_usuario:{
              type: Object,
              value: recuperardatosusuarios(),
              notify:true,
            },
            //Url de la petición
            url_movimientos:{
                type:String,
                computed:'obtener_url(datos_usuario,cuenta_sel)',
                  notify:true,
              },

            //Datos de la cabecera de la petición al servidor
            cabecera_movimientos:{
              type:Object,
              computed:'obtener_cabecera(datos_usuario)',
                notify:true,
            },

            //Respuesta de la petición que realizamos para conocer la informacioń
            //De usuarios y de clientes
            lista_movimientos_rec:{
              type:Object,

            },
           //Pasa el valor del filtro para listar la cuenta seleccionada
            cuenta_sel:{
              type:String,
                notify:true,
            },


            cliente_seleccionado:{
              type:String,
              value:'',
              notify:true,
            },
            visualizar_ficha:{
              type:Boolean,
              value:false,
              notify:true,
            },
            visualizar:{
              type:String,
              notify:true,

            },
            load_mapa:{
              type:Boolean,
              notify:true,
              value:false
            },
            load_detalle:{
              type:Boolean,
              notify:true,
              value:false
            }
          };


      };
      static get observers() {
        console.log('observers lista movimiento');
        return [
          '_cuenta_sel_Changed(cuenta_sel,cabecera_movimientos,url_movimientos)',
        ];
      }

      subir_fichero(){
        console.log("hola subir fichero");

      }

      crea_movimiento() {
        console.log("hoal");
        this.$.add_mov.open();
        //console.log(this.$.cabecera);
        //this.$.elajax.generateRequest();
      };

      actualiza_datos(){
        console.log("actualiza");
        this.$.elajax.generateRequest();

      }

      abre_mapa_movimiento(e) {
        console.log("hoal");
        this.load_mapa=true;
        var etiqueta=  "#mapa_mov" + e.model.item._id;
        console.log(etiqueta);
        var etdom= this.shadowRoot.querySelector(etiqueta).toggle();
    //    this.$.mapa_movimiento.open();
        //console.log(this.$.cabecera);
        //this.$.elajax.generateRequest();
      };

      abre_documento(e) {
         var url_doc=e.model.item.url_mov;
         url_doc=url_doc.replace(" ","+");
         window.open(url_doc, "recibo");
      };

       buscar() {
         console.log(this.url_movimientos);
         console.log(this.cabecera_movimientos);
         console.log(this.cuenta_sel);
         this.$.elajax.generateRequest();
       };

       toggle(sel) {
             var etiqueta=  "#eti" + sel.model.item._id;
             console.log(etiqueta);
             this.load_detalle=!this.load_detalle;
            var etdom= this.shadowRoot.querySelector(etiqueta).toggle();

       };


       _cuenta_sel_Changed(cabecera,cuenta,movimientos){
          console.log('this.cuenta_sel');
          if(cuenta==null || cuenta==undefined){
            console.log("no ejecutamos la funcion")
          }else{
            this.$.elajax.generateRequest();
         }
       }


      carga_det_mov(seleccionado){
       console.log("hola" + seleccionado.model.item._id);
       this.visualizar_ficha =true;
       this.cliente_seleccionado =  seleccionado.model.item._id;


      };

   volver_posicion_global(){
     this.visualizar = "posicion";

   }


   getClassForItem(item, selected) {
            return selected ? 'item expanded' : 'item';
          }




    obtener_cabecera(datos_usuario){
        if (datos_usuario==null){
          cabecera ="";
        }else{

         var aux="JWT " + datos_usuario.access_token;

         var cabecera = {"Authorization": aux};
        // //  var cabecera_str = JSON.stringify(cabecera);
        //     console.log(cabecera);
        //     if (filtro_usuarios==0){
        //       var cabecera = {"Authorization": aux,"tipo":"cliente"};
        //     }else{
        //       var cabecera = {"Authorization": aux,"tipo":"admin"};
        //     }

      }





       return cabecera;


    };

    obtener_url(datos_usuario,cuenta_sel){
      var url='';
      if (datos_usuario==null){
        url="http://localhost:3000/movimientos/";
        console.log(url);
      }else{
        url="http://localhost:3000/movimientos/"+ cuenta_sel;
        console.log(url);

      }
        return url;
    };


    respuestaRecibida(e, request) {
         console.log("recibida respuesta");
         console.log(request);
            if(request.succeeded) {
              console.log('la solicitud se resolvió correctamente con código ' + request.status);
              this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
              this.lista_movimientos_rec = request.response;

            } else {
              this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
            }
    };

          errorRecibido(e, error) {
            console.log("error"+error.request.status);
            console.log(error.request.response.message);
            this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
          };





    }
    window.customElements.define(ListaMovimientos.is, ListaMovimientos);


    function recuperardatosusuarios(){

       if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
        console.log('valor ' + localStorage.getItem("user-storage"));
       }else{
         var local =localStorage.getItem("user-storage");
         console.log('valor datos usuario' + local);
         var local_s =JSON.parse(local);

       }

       return local_s;
     //var local = JSON.parse(localStorage.getItem("datos_usuario"));
     //var em=local.email;

     //return em;

   };

  </script>
</dom-module>
