<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="log-out">
    <template>
        <style>
            :host {
                margin: 0;
                padding: 0;
            }
        </style>

      <paper-button raised on-tap="logout">Log Out</paper-button>
    LOGOUT
      los valores de {{datos_usuario}} <br>
      {{datos_usuario.nombre}}
      <br>
      la cabecera : [[cabecera]]
    </template>



  <script>

  class Logout extends Polymer.Element {
    static get is() { return 'log-out'; }
    static get properties() {
      return {
            datos_usuario:{
              type: Object,
              notify:true,
            },

            };
          };
          logout() {
                  // Borramos  de StoredUser los datos, como estan biedeados con el padre se borrará
                  //el localstorage

                  console.log("estamos en funcion log-out" +   this.$.datos_usuario)
                  this.datos_usuario = null;
                  console.log("estamos en funcion log-out" + this.storedUser)
                  localStorage.removeItem("user-storage");

              }


            };
            window.customElements.define(Logout.is, Logout);


    </script>
</dom-module>
