<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="mapa-movimiento">
    <template>
        <style>
            :host {
                margin: 0;
                padding: 0;
            }


               google-map {
                    height: 200px;
                }

        </style>

        <iron-ajax

          id="cfichero"
          url={{url_direccion}}
          loading="{{cargando}}"
          on-response="respuestaRecibida"
          on-error="errorRecibido"


        ></iron-ajax>


      <div id="map" hidden$="{{!cargar_mapa}}">
[[cargar_mapa]]
         <google-map fit-to-markers api-key="AIzaSyASVrdwsmw2QaeC2cLKGnTMzD-iQI9YoWk" latitude="{{latitud}}" longitude="{{longitud}}" fit-to-markers>
            <google-map-marker latitude="{{latitud}}" longitude="{{longitud}}" draggable="true"></google-map-marker>
        </google-map>
</div>
</template>

  <script>

  class MapaMovimiento extends Polymer.Element {
    static get is() { return 'mapa-movimiento'; }
    static get properties() {
      return {
            direccion:{
              type:String,

            },
            localidad:{
              type:String,

            },
            provincia:{
              type:String,
            },
            pais:{
              type:String,
            },

            url_direccion:{
              type:String,
              notify:true,
            },
            longitud:{
              type:Number,
              value:-3.68,
              notify:true,
            },
            latitud:{
              type:Number,
              value:40.48,
              notify:true,
            },
            cargar_mapa:{
              type:Boolean,
              notify:true,
              observer:"pinta_mapa"
            }

            };
          };

            pinta_mapa(){
              console.log("pinta"+ this.cargar_mapa);
              if (this.cargar_mapa==true){
                  console.log("dentro");
                  var  dir_parseada = this.direccion + "," + this.localidad + "," + this.provincia + "," + this.pais;
                  dir_parseada = dir_parseada.replace(" ", "+");
                  this.url_direccion = "https://maps.googleapis.com/maps/api/geocode/json?address=" + dir_parseada + "&key=AIzaSyASVrdwsmw2QaeC2cLKGnTMzD-iQI9YoWk"
                  this.$.cfichero.generateRequest();
              //    Polymer.import( ['polymer-cat.html'], function() {}
                }else{
                  //no se carga el mapa
                }
            }

            respuestaRecibida(e, request) {
                 console.log("recibida respuesta");
                 console.log(request);
                    if(request.succeeded) {
                      console.log('la solicitud se resolvió correctamente con código ' + request.status);
                      // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                        console.log (request.response.results[0]);
                        var respuesta =request.response.results[0];

                       this.latitud =respuesta.geometry.location.lat;
                       this.longitud = respuesta.geometry.location.lng;
                        //console.log (request.response.geometry.location.lng);

                    } else {
                      this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                    }
            };

                  errorRecibido(e, error) {
                    console.log("error"+error.request.status);
                    console.log(error.request.response.message);
                    // this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
                  };

             };




            window.customElements.define(MapaMovimiento.is, MapaMovimiento);

        </script>
          </dom-module>
