

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html"> -->


<!--  -->
<!-- Enlaces a librerías de visualización -->
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">



<!-- Enlaces a librerías de navegación  -->
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<!-- <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"> -->
<!-- <link rel="import" href="my-icons.html"> -->


<link href="my-view404.html">

<link href="mapa-movimiento.html">

<link href="acceso-app.html">
<link href="clientes.html">
<link href="administradores.html">
<link href="peticiones.html">
<link href="ficha-usuario.html">



<dom-module id="prueba-app">
  <template>
    <style>
      :host {
        display: block;
          --app-primary-color: #4285f4;
      }

      app-header {
            color: #fff;
            background-color: var(--app-primary-color);
          }



          .land {
            @apply(--layout-vertical);
            @apply(--layout-center-center);
            height: calc(100vh - 64px);
            padding: 0 16px;
            background-image: url("imagenes/acceso.jpg");
            background-repeat: no-repeat;
            background-size: cover;
           color: white;
            color: black;
            text-align: center;
          }

          .land > h2 {
            font-size: 70px;
            font-weight: 300;
            color:white;
            margin: 0;
          }
          .land > p {
            
            color:white;
            margin: 0;
          }

    </style>

    <app-header reveals>
      <app-toolbar>
        <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
        <div main-title>TechU</div>
    <!--    <paper-icon-button icon="delete"></paper-icon-button> -->
        <paper-button hidden$="{{datos_usuario.acceso}}" on-tap="registro">Registro</paper-button>
        <paper-button hidden$="{{datos_usuario.acceso}}" on-tap="entrar">Entrar</paper-button>
        <paper-button hidden$="{{!datos_usuario.acceso}}" on-tap="logout">Logout</paper-button>

  <!--      <paper-icon-button icon="search"></paper-icon-button> -->
        <paper-progress value="10" indeterminate bottom-item></paper-progress>
      </app-toolbar>
    </app-header>


    <div class="land" hidden$="{{!landing_page}}">
            <h2>Bienvenido</h2>
            <p>Gestion de movimientos</p>

    </div>


    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>



    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

<!--
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="acceso-app" href="[[rootPath]]acceso-app">login</a>
          <a name="clientes" href="[[rootPath]]clientes">clientes</a>
          <a name="administradores" href="[[rootPath]]administradores">Administradores</a>
        </iron-selector>

-->


        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="my-view404"
            role="main">

          <my-view404 name="my-view404"></my-view404>
          <acceso-app name="acceso-app" datos_user="{{datos_usuario}}"></acceso-app>
          <registro-app name="registro-app" dato_usuario="{{datos_usuario}}" esAdmin="{{esAdmin}}"></registro-app>
          <pag-clientes name="clientes"></pag-clientes>
          <lista-movimientos name="lista-movimientos"></lista-movimientos>
          <ficha-usuario name="usuario" on-cambio-pagina="mostrarUsuario"></ficha-usuario>
          <pag-admin name="administradores" barra={{datos_usuario}}></pag-admin>


        </iron-pages>
    <!--   dato:  [[routeData.page]]<br >pagina:[[page]] -->


  </template>

  <script>
    class PruebaApp extends Polymer.Element {
      static get is() { return 'prueba-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          datos_usuario:{
              type: Object,
              value:{"acceso":false,"tipo":''},
              observer:'_cambiousuario',
              notify:true
          },
          mensaje:{
            type:String,
            value:'Bienvenido',
          },
          esAdmin:{
            type:Boolean,
            value:false,
            notify:true,
          },
          landing_page:{
            type:Boolean,
            value:true,
            notify:true,
          },
          routeData: Object,
          subroute: String,
          rootPath: String,

        };
      }

      static get observers() {
        console.log('observers');
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      entrar(){
          this.page='acceso-app';
          this.landing_page=false;
          this.set('routeData.page', 'acceso-app');
      }

      registro(){
          this.page='registro-app';
          this.landing_page=false;
          this.set('routeData.page', 'registro-app');
      }



      logout() {
              // Borramos  de StoredUser los datos, como estan biedeados con el padre se borrará
              //el localstorage
              console.log(localStorage.getItem("user-storage"));
              var usuario = localStorage.getItem("user-storage");
              this.mensaje= 'Hasta luego' + usuario;
              this.landing_page = true;

              this.datos_usuario = {"acceso":false,"tipo":''};
          //    console.log("estamos en funcion log-out" + this.storedUser)
              localStorage.removeItem("user-storage");
              this.page='prueba-app';



          }


      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
           console.log('ha cambiado la pagina' +page);

           // tenemos que meter toda la logica para ver tambien el tipo de accesos a las pantallas.
          ///ojo que quitza tambien hay que validar que tiene un token

         if (this.datos_usuario.acceso==false){
            if ((this.page=='acceso-app') ||(this.page=='registro-app') ) {this.landing_page=false;}else{
                 this.page = 'prueba-app';
                 this.landing_page=true;
                 }
         }
           else{
             this.page = page || 'prueba-app';
             this.page = page;
              this.landing_page=false;
        }

      //  this.page = page || 'acceso-app';

        // Close a non-persistent drawer when the page & route are changed.
        // if (!this.$.drawer.persistent) {
        //   this.$.drawer.close();
        // }
      }


      _cambiousuario(){

          console.log('entra' + this.datos_usuario.acceso + this.datos_usuario.tipo + this.datos_usuario.usuario);
          var entra_ok = this.datos_usuario.acceso;
          var tipo = this.datos_usuario.tipo;


          if (entra_ok==true){
             if (tipo=='cliente'){
              this.page="clientes";
              this.set('routeData.page', 'clientes' + '/' + this.datos_usuario.usuario);

             }else{
               this.page="administradores";
               this.set('routeData.page', 'administradores');


              //  this.routeData.page="administradores";
             }

          } else {
            //Entra ko , no cambiamos las direccion
          }

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails

        console.log(page + this.datos_usuario.acceso + this.datos_usuario.tipo);
        console.log('a '+ this.routeData.page);
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        console.log(resolvedPageUrl);

        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'my-view404';
      }
    }





    window.customElements.define(PruebaApp.is, PruebaApp);

    function recuperardatosusuarios(){

       if (localStorage.getItem("user-storage") == null || localStorage.getItem("user-storage") == undefined){
        console.log('valor ' + localStorage.getItem("user-storage"));
       }else{
         var local =localStorage.getItem("user-storage");
         console.log('valor datos usuario' + local);
         var local_s =JSON.parse(local);

       }

       return local_s;


   };

  </script>
</dom-module>
