<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">


<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">



<link rel="import" href="my-icons.html">





<dom-module id="registro-app">
    <template>
        <style>

            /*:host {
              display: block;
              background-attachment: fixed;
              background-size: 100% auto;
              background-repeat: no-repeat;
            /*}*/
            :host {
              display: block;
            }

            body{
                background-color: #525252;
            }
            .centered-form{
            	margin-top: 60px;
            }

            .centered-form .panel{
            	background: rgba(255, 255, 255, 0.8);
            	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
            }

            .center_div{
                  margin: 0 auto;
                  width:80% /* value of your choice which suits your alignment */
              }
              .card-container.card {
                max-width: 600px;
                padding: 40px 40px;
              }

              .card {
                background-color: #F7F7F7;
                /* just in case there no content*/
                padding: 20px 25px 30px;
                margin: 0 auto 25px;
                margin-top: 50px;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            }



              /*

            paper-card {
              padding: 16px 0 16px 100px;
              width: 100%;
              sizing: border-box;
            }
            paper-fab {
                position: absolute;
                top: -28px;
                right: 40px;
                --paper-fab-background: #EF5458;
                --paper-fab-keyboard-focus-background: #DF4448;
            }
            .card-container {
               position: relative;
               width: 720px;
               margin: 300px auto 40px;
             }

             @media (max-width: 720px) {
               .card-container {
                 width: 100%;
                 margin: 150px 0 0;
             }
            }*/

        </style>

            <iron-ajax
              id="elajax"
              url="http://localhost:3000/auth/register/"
              method ="POST"
              body ="{{postBody}}"
              content-type="application/json"
              last-response="{{users}}"
              loading="{{cargando}}"
              on-response="respuestaRecibida"
              on-error="errorRecibido"
            ></iron-ajax>

<!--
                los valores de {{datos_usuario}} <br>
               {{datos_usuario.nombre}}
               <br>
               la cabecera : [[cabecera]]
               <h2 >Introduce datos nuevo usuario</h2>



-->

               <div class="container center_div" >
                 <div class="card card-container">
                       <!-- <div class="row centered-form col-12"> -->
                       <!-- <div class="col-xs-12 col-sm-8 col-md-4"> -->
                         <!--  col-sm-offset-2 col-md-offset-4 -->
                       	<div class="panel panel-default">
                       		<div class="panel-heading">
               			    		<h3 class="panel-title">Registro<small><small><br>Introduce datos usuario</small></h3>
               			 			</div>
               			 			<div class="panel-body">
               			    				<div class="row">
               			    				<div class="col-12">
               			    					     <paper-input padding=10px value="{{myIp6}}" label="Nombre" placeholder="First Name"></paper-input>
                              	</div>
                 			    			</div>

                              <div class="row">
                              <div class="col-12">
                                     <paper-input value="{{myIp7}}" label="Apellidos" placeholder="Apellido"></paper-input>
                              </div>
                              </div>

                              <div class="row">
                                <div class="col-12">
                                    <paper-input value="{{myIp1}}" label="usuario" required auto-validate error-message="Campo Oblogatorio"></paper-input>
                                </div>
                              </div>

                              <div hidden$="{{!esAdmin}}" class="row">
                                <div class="col-12">
                                  <paper-dropdown-menu label="Tipo" value="{{myIp3}}">
                                    <paper-listbox slot="dropdown-content" selected="0" >
                                      <!-- " -->
                                        <paper-item  hidden$="{{!esAdmin}}">cliente</paper-item>
                                        <paper-item>admin</paper-item>
                                      <paper-item>
                                      </paper-listbox>
                                    </paper-dropdown-menu>
                                </div>
                              </div>



               			    			<div class="row">

               			    				<div class="col-12">
               			    		          <paper-input value="{{myIp2}}" label="Password" required auto-validate error-message="Campo Obligatiorio"></paper-input>
                                   </div>
                                   </div>


                                <div class="row">

               			    				<div class="col-12">

               			    				      <paper-input value="{{myIp5}}" label="Repite el password" required auto-validate error-message="Campo Obligatorio"></paper-input>



                              </div>
                              </div>


                              <div class="row">

                              <div class="col-12">
                              <paper-dropdown-menu label="Avatar" value="{{myIp4}}">
                                <paper-listbox slot="dropdown-content" selected="0" >
                                  <!-- " -->
                                  <paper-item>
                                  <paper-icon-item>
                                        <iron-icon src="src/imagenes/avatar_1.png">avatar_1</iron-icon>
                                      </paper-icon-item>
                                    avatar_1
                                  </paper-item>
                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/avatar_2.png">avatar_2</iron-icon>
                                    </paper-icon-item>
                                      avatar_2
                                  </paper-item>
                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/avatar_3.png">avatar_3</iron-icon>
                                    </paper-icon-item>
                                      avatar_3
                                  </paper-item>
                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/avatar_4.png">avatar_4</iron-icon>
                                    </paper-icon-item>
                                      avatar_4
                                  </paper-item>

                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/avatar_5.png">avatar_5</iron-icon>
                                    </paper-icon-item>
                                      avatar_5
                                  </paper-item>
                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/avatar_6.png">avatar_6</iron-icon>
                                    </paper-icon-item>
                                      avatar_6
                                  </paper-item>
                                  <paper-item>
                                    <paper-icon-item>
                                      <iron-icon src="src/imagenes/unnamed.png">unnamed</iron-icon>
                                    </paper-icon-item>
                                      unnamed
                                  </paper-item>





                                </paper-listbox>
                              </paper-dropdown-menu>

                            </div>
                            {{myIp8}}
                          </div>


               			    		     <button on-click="crear_usuario" class="btn btn-info btn-block" >crear usuario </button>
                            </div>

               			    	</div>
               	    		<!-- </div> -->
                   		</div>
                   	</div>






<button on-click="peticion_tarjetas" class="btn btn-info btn-block" >pide tarjetas </button>














    </template>



  <script>

  class Registro extends Polymer.Element {
    static get is() { return 'registro-app'; }
    static get properties() {
      return {
        datos_usuario:{
          type: Object,
          value: recuperardatosusuarios(),
          notify:true,
        },
        url_reg:{
            type:String,
            computed:'obtener_url(datos_usuario)',
              notify:true,
          },
        cabecera_reg:{
          type:Object,
          computed:'obtener_cabecera(datos_usuario)',
            notify:true,
        },
        informacion_usuario_new:{
          type:Object,
        },
        postBody: {
            type: String,
            computed: 'obtenerBody(myIp1, myIp2, myIp3,myIp4,myIp5,myIp6,myIp7)',
            notify:true
        },
        esAdmin:{
          type:Boolean,
          notify:true
        }

//   body='[{"foo": "{{foo}}"}]'


            };
          };
          crear_usuario() {
            //Se realiza la peticion, habría que crear el cuerpo de la peticion
           var lanzar=false;
            console.log(this.postBody.login);

             if ((this.postBody.login==null) || (this.postBody.login==undefined)){lanzar=false;}else{lanzar=true;}
             if ((this.postBody.tipo==null) || (this.postBody.tipo==undefined)){lanzar=false;}else{lanzar=true;}
             if ((this.postBody.avatar==null) || (this.postBody.avatar==undefined )){lanzar=false;}else{lanzar=true;}
             if ((this.postBody.password==null) || (this.postBody.password==undefined) ){lanzar=false;
             }else{

               if (this.postBody.password==this.postBody.repite_pass){
                 lanzar = true;
               }else{
                 lanzar=true;

             }
            }

            if (lanzar==true){
              console.log("lanzamos");
              this.$.elajax.generateRequest();
            }else{
              console.log("no lanzamos");
            }


          };

          obtenerBody (i1, i2, i3,i4,i5,i6,i7) {

        if (this.esAdmin==true){

        }else{
              i3= "cliente";

        };

      if ((i4==null) || (i4==undefined)){

      }else{
              i4 =i4.substr(0,8);
              i4=i4.trim();
          }

              return {
                "login": i1,
                "password": i2,
                "tipo": i3,
                "avatar":i4,
                "repite_pass":i5,
                "nombre":i6,
                "apellidos":i7

              };
          };


        obtener_cabecera(datos_usuario){
            if (datos_usuario==null){
              cabecera ="";
            }else{

             var aux="JWT " + datos_usuario.access_token;

             var cabecera = {"Authorization": aux};
            //  var cabecera_str = JSON.stringify(cabecera);
                console.log(cabecera);
          }
           return cabecera;
        };

        obtener_url(datos_usuario){
          var url='';
          if (datos_usuario==null){
            url="http://localhost:3000/auth/register/";
            console.log(url);
          }else{
            var url = "http://localhost:3000/auth/register/";
            console.log(url);
          }
            return url;
        };

      peticion_tarjetas(){
                 var request = new XMLHttpRequest();
                 request.open("GET", "http://localhost:3000/recibetokentarjetas", false);
                 request.send(null);
                  if(request.status == 0)
                          console.log(req.responseText);

      }

        respuestaRecibida(e, request) {
             console.log("recibida respuesta");
             console.log(request);
                if(request.succeeded) {
                  console.log('la solicitud se resolvió correctamente con código ' + request.status);
                  this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
                  var respuesta_recibida = request.response;
                    alert("Usuario Creado Satisfactoriamente");

                } else {
                  this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
                }
        };

              errorRecibido(e, error) {
                console.log("error"+error.request.status);
                console.log(error.request.message);
                this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
              };







            };
            window.customElements.define(Registro.is, Registro);


    </script>
</dom-module>
