<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="subir-fichero">
    <template>
        <style>
            :host {
                margin: 0;
                padding: 0;
            }
        </style>

        <iron-ajax

          id="cfichero"
          url="http://localhost:3000/documentos"
          method="POST"

          loading="{{cargando}}"

        ></iron-ajax>



      <input type="file" id="fileInput" on-change="_fileChange"></input>

      <paper-button raised on-tap="subir_fichero">sube fichero</paper-button>

      cuerpo:[[bodypet]]


      los valores de {{datos_usuario}} <br>
      {{datos_usuario.nombre}}
      <br>
      la cabecera : [[cabecera]]
    </template>



  <script>

  class SubirFichero extends Polymer.Element {
    static get is() { return 'subir-fichero'; }
    static get properties() {
      return {
            datos_usuario:{
              type: Object,
              notify:true,
            },
            bodypet:{
              type:Object,
              notify:true
            }
            };
          };
          subir_fichero() {
                  // Borramos  de StoredUser los datos, como estan biedeados con el padre se borrará
                  //el localstorage

                    this.$.cfichero.generateRequest();

              };

         _fileChange(e) {
          var length = e.target.files.length;
          for (var i = 0; i < length; i++) {
            var fichero = e.target.files[i];

            console.log(fichero.name);
            console.log(fichero);

            var datos =  new FormData();
            datos.append("file",  fichero, fichero.name);
            datos.append("hora","16:30");
            datos.append("valor",16);

            datos.append("fichero", new Blob( [ fichero ], { type: fichero.type } ), fichero.name);
            this.bodypet=datos;
            this.$.cfichero.body = datos;
            this.$.cfichero.contentType = "multipart/form-data";

            console.log(datos);
            console.log("fichero" + datos.get("fichero"));
            console.log("fichero" + datos.get("file"));

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/documentos',true);
            xhr.send(datos);
            }
          };



          // `<iron-ajax id="upload" method="POST" url="/api/upload"></iron-ajax>
          //
          // _upload: function (e) {
          //     var formData = new FormData();
          //     formData.append("image", e.detail);
          //     this.$.upload.body = formData
          //     this.$.upload.generateRequest();
          //   }`
          //https://github.com/PolymerElements/iron-ajax/issues/107
          // var formData = new FormData()
          // formData.append( 'yourKey', new Blob( [ yourFile ], { type: yourFile.type } ) );
          // this.$.yourIronElement.body = formData;

            };
              window.customElements.define(SubirFichero.is, SubirFichero);






    </script>
</dom-module>
